.site-header {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 1.5rem;

	@media screen and (min-width: 500px) {
		margin-top: 3rem;
	}

	.burnt-shake-site-icon-small {
		max-width: 80px;
		display: block;
		margin: 0 auto;

		@media screen and (min-width: 500px) {
			& {
				max-width: 100px;
			}
		}
	}

	.main-navigation {
		display: flex;

		.menu-primary-menu-container {
			align-self: flex-end;
			margin-bottom: 1.1rem;

			@media screen and (min-width: 500px) {
				& {
					margin-bottom: 3rem;
				}
			}

			.menu {
				list-style: none;
				padding-left: 0;
				display: inline;

				li {
					text-align: center;
					font-family: 'Lato', sans-serif;
					padding-right: 0.75rem;
					display: inline;
					font-size: 1.75rem;

					@media screen and (min-width: 500px) {
						& {
							font-size: 2rem;
						}
					}

					&:nth-child(1) {
						a:hover {
							color: rgb(232, 139, 0);
						}
					}

					&.current-menu-item {
						&:nth-child(1) {
							a {
								color: rgb(232, 139, 0);
								text-decoration: underline;
							}
						}
					}

					&:nth-child(2) {
						a:hover {
							color: rgb(2, 208, 2);
						}
					}

					&.current-menu-item {
						&:nth-child(2) {
							a {
								color: rgb(2, 208, 2);
								text-decoration: underline;
							}
						}
					}

					&:nth-child(3) {
						a:hover {
							color: rgb(37, 37, 255);
						}
					}

					&.current-menu-item {
						&:nth-child(3) {
							a {
								color: rgb(37, 37, 255);
								text-decoration: underline;
							}
						}
					}

					&:nth-child(4) {
						a:hover {
							color: rgb(223, 21, 223);
						}
					}

					&.current-menu-item {
						&:nth-child(4) {
							a {
								color: rgb(223, 21, 223);
								text-decoration: underline;
							}
						}
					}

					a {
						color: black;
						text-transform: uppercase;
						font-style: italic;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

		}

	}
}
