.site-header {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 2rem;

	.burnt-shake-site-icon-small {
		max-width: 120px;
		display: block;
		margin: 0 auto;
		top: 9px;
		position: relative;
		left: 25px;
	}

	.main-navigation {
		display: flex;

		.menu-primary-menu-container {
			align-self: center;

			.menu {
				list-style: none;
				padding-left: 0;
				display: inline;

				li {
					text-align: center;
					font-size: 2rem;
					font-family: 'Lato', sans-serif;
					padding-right: 0.75rem;
					display: inline;

					&:nth-child(1) {
						a:hover {
							color: rgb(252, 10, 10);
						}
					}

					&.current-menu-item {
						&:nth-child(1) {
							a {
								color: rgb(252, 10, 10);
								text-decoration: underline;
							}
						}
					}

					&:nth-child(2) {
						a:hover {
							color: rgb(2, 208, 2);
						}
					}

					&.current-menu-item {
						&:nth-child(2) {
							a {
								color: rgb(2, 208, 2);
								text-decoration: underline;
							}
						}
					}

					&:nth-child(3) {
						a:hover {
							color: #cd1ffe;
						}
					}

					&.current-menu-item {
						&:nth-child(3) {
							a {
								color: #cd1ffe;
								text-decoration: underline;
							}
						}
					}

					&:nth-child(4) {
						a:hover {
							color: rgb(37, 37, 255);
						}
					}

					&.current-menu-item {
						&:nth-child(4) {
							a {
								color: rgb(37, 37, 255);
								text-decoration: underline;
							}
						}
					}

					a {
						color: black;
						text-transform: uppercase;
						font-style: italic;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

		}

	}
}
