body {
	background-color: $white;

	.entry-title {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}

	.content-area {
		display: flex;
		justify-content: center;

		#main {
			max-width: 90%;

			@media screen and (min-width: 500px) {
				& {
					max-width: 50%;
				}
			}

			article {
				padding: 0 0.25rem;

				@media screen and (min-width: 500px) {
					& {
						padding: 0 1.25rem;

					}
				}
			}

		}
	}
}
