body {
	background-color: $white;

	.entry-title {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}

	.content-area {
		display: flex;
		justify-content: center;

		#main {
			max-width: 60%;

		}
	}
}
